.skipBtn{
    width: 160px;
    height: 50px;
    position: fixed;
    z-index: 20;
    bottom: 0;
    right: 0;
    margin: 10px;

    background: transparent;
    color: black;
    border: none;
    font-family: 'Lobster', cursive !important;
    font-weight: normal;
    font-weight: bolder;
    font-size: 17px;
    transition: .3s;
    cursor: pointer;
    animation: hideButton .5s ease-in-out 7.5s forwards;
    -webkit-animation: hideButton .5s ease-in-out 7.5s forwards;
}

.skipBtn:hover{
    transform: scale(1.15);
}

@keyframes hideButton{
	0%{
		opacity: 1;
	}
    100%{
        opacity: 0;
    }
}